## Lab 1 - Introduction to R

### Vectors 
1. Create vector u as -10,-9,-8..0. How many ways can you use?

In [23]:
u <- -10:0
u

 [1] -10  -9  -8  -7  -6  -5  -4  -3  -2  -1   0

In [24]:
u <- seq(from=-10,to=0,by=1)
u

 [1] -10  -9  -8  -7  -6  -5  -4  -3  -2  -1   0

2. Create another vector v that has values -0.1, 0.4, 0.9, 1.4... there are 11 numbers

In [17]:
v <- seq(from=-0.1,to=4.9,by=0.5)
v

 [1] -0.1  0.4  0.9  1.4  1.9  2.4  2.9  3.4  3.9  4.4  4.9

In [16]:
v <- c(-0.1, 0.4, 0.9, 1.4, 1.9, 2.4, 2.9, 3.4, 3.9, 4.4, 4.9)
v

 [1] -0.1  0.4  0.9  1.4  1.9  2.4  2.9  3.4  3.9  4.4  4.9

3. Calculate u + v

In [21]:
u + v

 [1] -10.1  -8.6  -7.1  -5.6  -4.1  -2.6  -1.1   0.4   1.9   3.4   4.9

4. Increase all terms in u by 1, and then take away 20% from all terms in v.

In [25]:
(u + 1)*0.8

 [1] -7.2 -6.4 -5.6 -4.8 -4.0 -3.2 -2.4 -1.6 -0.8  0.0  0.8

5. Create a vector w that contains all the numbers from u and then v. Assign the length of w to a variable
len.

In [27]:
w <- c(u,v)
w

 [1] -10.0  -9.0  -8.0  -7.0  -6.0  -5.0  -4.0  -3.0  -2.0  -1.0   0.0  -0.1
[13]   0.4   0.9   1.4   1.9   2.4   2.9   3.4   3.9   4.4   4.9

6. Use a command to return the 14th, 15th and 16th value of w. What about the 2nd, the 5th, 9th and
21st value of w? What is the 23rd value?

In [33]:
w[14]

[1] 0.9

In [34]:
w[15]

[1] 1.4

In [35]:
w[16]

[1] 1.9

In [37]:
w[2]

[1] -9

In [38]:
w[5]

[1] -6

In [39]:
w[9]

[1] -2

In [41]:
w[21]

[1] 4.4

In [42]:
w[23]

[1] NA

7. Replace the 3rd term of w by 100. Then replace the 7th, 15th and 22nd terms by 200, 300 and 400
simultaneously.

In [44]:
w[3]=100
w[7]=200
w[15]=300
w[22]=400
w

 [1] -10.0  -9.0 100.0  -7.0  -6.0  -5.0 200.0  -3.0  -2.0  -1.0   0.0  -0.1
[13]   0.4   0.9 300.0   1.9   2.4   2.9   3.4   3.9   4.4 400.0

8. Remove u.

In [46]:
setdiff(w, u)

 [1] 100.0 200.0  -0.1   0.4   0.9 300.0   1.9   2.4   2.9   3.4   3.9   4.4
[13] 400.0

9. Remove all the objects in the environment.

In [47]:
rm(list = ls())

### Matrices